.card-container{
    width: 100%;
    height: auto;
}

.card-config{
    display: flex;
    width: 50%;
    margin: 0 auto;

}

.card{
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 10px;
    height: 200px;
    background-color: #fff;
    flex: 1;
    transition: .3s;
    cursor: pointer;
}

.card:hover{
    flex: 3;
    background-color: rgb(207, 2007, 207);
}

.img-imc{
    border-radius: 20px;
    height: auto;
    height: 200px;
}

